__pycache__/
*.py[cod]
.env
.venv/
env/
.vscode/
logs/
*.log
sales_data_pipeline/raw/
sales_data_pipeline/failed_load/
sales_data_pipeline/processed/
sales_data_pipeline/rejected/
*.sqlite3
/.pytest_cache/
.DS_Store
dist/
build/
*.egg-info
secrets.json